<%= render 'layouts/menu' %>
<section>
  <div class="row">
    <div class="rec rec-big">
      <article>
        <h2><%= @page.title %></h2>
        <p> <%= @page.text %>

        </p>
        <%= link_to 'Edit', edit_admin_page_path(@page) %>
      </article>
    </div>
  </div>
  <div class="row">
    <% @page.courses.each do |course| %>
        <div class="col">

          <div class="circle">
            <h2>
              <%= link_to course.Name, page_course_path(@page, course) %>
            </h2>
          </div>
        </div>

    <% end %>


  </div>
</section>