<%= simple_form_for([@page, @course]) do |f| %>

    <p>
      <%= f.label :Name %><br>
      <%= f.text_field :Name %>
      <%= f.association :tags, as: :check_boxes %>
    </p>



    <p>
      <%= f.submit %>
    </p>
<% end %>