<%= simple_form_for([:admin,@page, @course]) do |f| %>

    <p>
      <%= f.label :Name %><br>
      <%= f.text_field :Name %>
    </p>
    <p>
      <%= f.label :body %><br>
      <%= f.text_area :body %>
    </p>
      <%= f.association :tags, as: :check_boxes %>
    <%= link_to 'Add Tag', new_admin_tag_path %>




    <p>
      <%= f.submit %>
    </p>
<% end %>