<%= simple_form_for([:admin,@page, @course]) do |f| %>
    <% if @course.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@course.errors.count, "error") %> prohibited
            this course from being saved:
          </h2>
          <ul>
            <% @course.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= f.label :Name %><br>
      <%= f.text_field :Name %>
    </p>
    <p>
      <%= f.label :body %><br>
      <%= f.text_area :body %>

    <div class="field"></div>
      <%= f.association :page %>
    </p>
    <%= f.label :tag %>
      <%= f.association :tags, as: :check_boxes %>
    <%= link_to 'Add/Edit Tags', new_admin_tag_path(page_id:@page, course_id:@course) %>




    <p>
      <%= f.submit %>
    </p>
<% end %>