<%= render 'admin/menu' %>
<section>


    <% @pages.each do |page| %>
      <div class="row rec rec-big">
      <table>
        <tr>
          <h2 style="float: left;"><%= page.title %></h2>
        </tr>


        <tr>
          <th>Course:</th>
          <th>Created at:</th>
          <th>Updated at:</th>
          <th>Actions:</th>
        </tr>
          <% page.courses.each do |course| %>

         <tr>
          <td><%= course.Name %></td>

              <td><small><%= course.created_at %></small></td>
              <td><small><%= course.updated_at %></small></td>
          <td><%= link_to 'Show', page_course_path(page,course) %></td>
          <td><%= link_to 'Edit', edit_admin_page_course_path(page,course) %></td>
          <td><%= link_to 'Delete', admin_course_path(course), method: :delete, data: { confirm: "Sure?"} %></td>
          </tr>
        <% end %>
      </table>
        <br>
       <%= link_to 'Create a New Course', new_admin_page_course_path(page) %>
      </div>
  <% end %>
</section>